@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* // Basic Paramter Resert  START // */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}


/* Greco-Roman Meandors Patter | Top & Bottom */
.greek-pattern {
    display: flex;
    background-image: url(./assets/images/studio-art/greco-roman-pattern.png);
    background-repeat: round;
    background-size: contain;
}
