@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* // Basic Paramter Resert  START // */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

p {
    line-height: 1.5rem;
}


/* Greco-Roman Meandros Patter | Top & Bottom */
.greek-pattern {
    display: flex;
    background-image: url(./assets/images/studio-art/greco-roman-pattern.png);
    background-repeat: round;
    background-size: contain;
}

/* This is the Header group */
.deorum-logo {
    background-image: radial-gradient(rgb(218, 26, 26), rgb(76, 12, 12));
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% 0 2% 0;
}


.welcome-group {
    display: flex;
    flex-direction: row;
}

.welcome-container {
    display: flex;
    min-height: 500px;
    flex-wrap: wrap;
}

.lucium-skyline {
    flex: 4;
    background-image: url(./assets/images/deorum-art/lucium-skyline.png);
    background-size:cover;
    background-position: 15% center;
    min-width: 55%;
    min-width:max-content;
}

.welcome-text-box {
    flex: 1;
    padding: 10% 5% 10% 5%;
    background-image: linear-gradient(rgb(72, 3, 72), rgb(199, 33, 240));
    color: #fff;
}



/* .header-group {
    display: flex;
    align-items: center;
   /*  background-image: url(./assets/images/deorum-art/lucium-skyline.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 700px; */




   /*  background-image: url(./assets/images/deorum-art/lucium-skyline.png);
    min-height: 500px;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
/* } 


/* .header-intro {
    display: flex;
}

.welcome {
    border-radius: 25px;
    text-align: center;
    padding: 1.5rem;
    margin: 10% 20%;
    color: #fff;
    text-shadow: 0 0 2em rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 2em rgb(69, 69, 69);
}  */



/* SECTION 01 */
.section-01 {
    display: flex;
    background-image: linear-gradient(rgba(255, 252, 241, 0.7), rgba(248, 218, 136, 0.7)), url(./assets/images/other/mosaic-floor-panel-google-art-project.jpg);
    min-height: 250px;
    background-attachment:fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover; 
}


.epic-tale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 10%;
}

/* SECTION 2 */


.imperial-dreams {
    background-image: url(./assets/images/deorum-art/imperial-dreams.png);
    min-height: 250px;
    background-attachment:fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover; 
}

/* SECTION 3 */
.section-03 {
    display: flex;
    background-image: linear-gradient(rgba(255, 252, 241, 0.7), rgba(248, 218, 136, 0.7)), url(./assets/images/other/mosaic-floor-panel-google-art-project.jpg);
    min-height: 250px;
    background-attachment:fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover; 
}

.elysium-tales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 10%;
}

/* SECTION 04 */
.bhutaki-velkan {
    background-image: url(./assets/images/deorum-art/bhutaki-and-velkan.png);
    min-height: 300px;
    min-width: 250px;
    background-attachment:fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover; 
}

/* SECTION 05 */
.velkan-text-top {
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
}

.velkan-text-bottom {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

/* SECTION 06 */
.section-06 {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient( rgb(218, 26, 26), rgb(76, 12, 12));
}

.pdf-container-outer {
   background-color:white;
   border-radius: 25px;

   margin: 4% 7%;
   padding: 15px;
}

.pdf-container-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.chapter-one-pdf {
    background-color: rgb(70, 186, 76);
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    text-decoration: none;
}

.chapter-one-pdf:hover, .chapter-one-pdf:focus {
    background-color: purple;
    color: rgb(254, 224, 51);
}

/* SECTION 07 */
.section-07 {
    display: flex;
    flex-direction: column;
    padding: 10% 5% 10% 5%;
    background-image: linear-gradient(rgb(182, 0, 127), rgb(88, 14, 87));
    color: #fff;
}

.amazon-link {
    background-color: rgb(70, 186, 76);
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    text-decoration: none;
}

.amazon-link:hover, .amazon-link:focus {
    background-color: purple;
    color: rgb(254, 224, 51);
}


/* FOOTER */

.social-media-group {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#28334c, #171d2c);
    padding: 2% 0 2% 0;
}

.social-media-icons {
    width: 10%;
    height: 10;
}

.footer-text {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#171d2c, black);
    color: #fff;
   padding: 0 10% 2% 10%;
}